  DATABASE_URL= "postgresql://postgres:CITRSOIUvYspkinPsHDDFeKnmxHpZmJS@monorail.proxy.rlwy.net:46376/railway"
  DIRECT_URL="postgresql://postgres.rnetulpcbgfmgdvyrsdh:eF2lF1SRdgYnWCZf@aws-0-us-west-1.pooler.supabase.com:5432/postgres"
  GOOGLE_CLIENT_ID="985099901182-vn5jgskggvpel7prbns94mskvsqmpvjs.apps.googleusercontent.com"
  GOOGLE_CLIENT_SECRET="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"
  RESEND_API_KEY= "re_Q3T2mPa9_MijQeYyhUhDsSvn6CXk51eqm"
  STRIPE_CLIENT_ID="ca_QM1vjS7qa4T7CilWH6rRsvYIQGu9rbGz"
  STRIPE_REDIRECT_URI="http://localhost:3000/api/stripe/connect"
  STRIPE_SECRET_KEY="sk_test_51DNjLiInpO8pfcCbihBRtgfnRwjeltot4NWnyPWi0IoDT8XEqQ7X7CnqBNK9BFnWjtJVRGqDmQCWIYLqJ7s5nzaV00m3KW9T4k"
  STRIPE_WEBHOOK_SECRET="whsec_9fcda26fd6564aaffc471d231f7c654915803a54573bc4897fa24bd8313f460d"
  EMAIL_FROM= "onboarding@resend.dev"
  NEXTAUTH_URL="http://localhost:3000"
  NEXTAUTH_SECRET="iV2uWCA2DzYWWzoVtVLj24LqZaPR2svKu6nrTWqsCqc="
  SUPABASE_URL= "https://rnetulpcbgfmgdvyrsdh.supabase.co"
  SUPABASE_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJuZXR1bHBjYmdmbWdkdnlyc2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODk3MDIzNDgsImV4cCI6MjAwNTI3ODM0OH0.cC0a-6R23Y0yZGgJ3phuMx9sdmOYqBTKDMLU7zKpg9g"
  NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= "0"
  NEXT_PUBLIC_ROOT_DOMAIN="localhost:3000"
  TEAM_ID_VERCEL="team_trVvVJAWwywGh9ZJ1Qctt7Gh"
  PROJECT_ID_VERCEL="prj_FtPVORHazjetnMuorAkGehVLutQG"
  AUTH_BEARER_TOKEN="tqPsnRxNmBl6yjNtqPTYpn3e"




